#app {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 375px;
  height: 667px;
  border: 2px solid black;
}

.bottom {
    position: absolute;
    top: 600px;
    width: 375px;
    border-top: 2px solid black; 
}

.sum {
    display: inline-block;
    margin: 10px 0px 5px 0px;
    padding: 15px;
 
}

.addBtn {
    display: inline-block;
    margin: 10px 0px 5px 0px;
    padding: 15px;
}

.addForm {
    position: absolute;
    top: -110px;
    width: 355px;
    padding: 20px 0px 10px 20px;
    background-color: white;
}

.list {
  height: 595px;
  width: 375px;
  overflow-y: auto;
}